*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 14px Serif, "Times New Roman";
}

form{
    background: rgb(5, 75, 97);
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input{
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
}

form button{
    width: 9%;
    background:rgb(86, 5, 97);
    border: none;
    padding: 10px;
}

#messages{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages div{
    padding: 5px 10px;
}

#messages div:nth-child(odd){
    background:rgb(139, 186, 247)
}